In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score

In [4]:
df=pd.read_csv('bank (1).csv')

In [5]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [6]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [7]:
df.shape

(11162, 17)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [9]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [10]:
df.marital.unique()

array(['married', 'single', 'divorced'], dtype=object)

In [11]:
df.month.unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [12]:
df.pdays.unique()

array([ -1, 166,  91, 147, 170, 150, 171, 126, 182, 110, 198, 174, 175,
        27, 128, 100, 177, 167, 122, 183, 195, 133, 178,  34,  10, 163,
       184, 154,  99,  93,   2, 242, 272,  76, 160,  90, 196, 246, 238,
       203, 268, 189, 267,  92,   9,  88,  85, 210, 257, 261, 270, 106,
       199, 112,  41, 294, 231, 239, 302, 135, 307, 222, 138, 323, 141,
       320, 264, 316, 315, 256, 146, 328,  74, 148, 327, 341, 145, 266,
       234, 345, 318, 325, 274, 343, 260, 305, 344, 254, 180, 340,  82,
       181, 278, 153,   4, 349, 334, 176,  87, 269,  86, 169,  83,  79,
         6, 259,  13, 161, 350,  84,  80, 164,  22, 296,  66, 263, 333,
        17,  89,  78, 286, 337, 364, 188, 342, 363, 352, 295, 353, 356,
       288, 367, 366, 359, 347, 370, 284, 300, 306, 361, 287, 301, 355,
       371, 292, 360, 358, 346, 357, 368, 312, 179, 329, 298, 372, 374,
       375, 291,  95, 109,  94,  98, 186, 101, 187, 321,  40,  96,  21,
        35,  97, 285, 103, 212, 293,  81,  38,  28,  67,  60, 120,  55,
       113,  71, 119,  72,  20, 391,  50, 207, 105, 314, 211, 140, 104,
        65, 395, 399,  49, 389, 386, 412,  62, 229, 385, 156,  63,  64,
        69, 394,  70, 185, 102, 190, 461, 116, 422, 457, 430, 192, 462,
       403, 191, 459, 397, 197, 173, 271, 428, 392, 193, 474, 475, 477,
       130, 283, 157, 476, 131, 132, 129, 134, 114, 121, 107, 115,  58,
        57, 143, 208, 335, 149, 139,  52,  75, 515, 111,  56, 194, 520,
       213, 351, 273, 162, 378, 279, 200, 201, 310, 275, 127, 165, 309,
       313, 216, 209, 282, 202, 436, 433, 142, 172, 281,  48, 276, 297,
       280, 446, 558, 616, 561, 553, 555, 262, 265, 384, 388, 152, 390,
       322, 205, 326, 478, 339, 155, 421, 223, 626, 426, 236, 206, 348,
       595, 311, 648, 304, 521, 369, 449, 398,  53, 258, 479, 237, 425,
       376, 224, 227, 225, 144, 586, 450, 424, 776, 251, 460, 683, 158,
       529, 377, 415, 244, 407, 458, 532, 481, 445, 535, 784, 491, 440,
       455, 277, 470,   1, 435, 437, 728, 414, 518, 308, 828,  31,  43,
       761,  29,  44, 579, 466, 125, 504, 427, 749, 365, 769, 469, 587,
       792, 854, 842, 603, 444, 232, 690, 137, 442, 541, 550,  73, 439,
       420, 168, 243, 387, 204, 503, 124, 290,  77,  14, 221, 409, 782,
       332, 330, 804, 551, 230, 405, 319,  37, 123, 417, 490, 463, 362,
       805, 544, 472,  33, 495, 253,  36, 299, 324, 235, 401, 117,  68,
       774, 228, 317, 255, 336, 233, 486,   5, 778, 771, 245,  42, 338,
       354, 373, 772,  59, 247, 331,  61, 381, 108,  15,   8, 241, 136,
       159, 250, 217,  12, 826, 594, 303, 151, 404, 717, 289, 252, 651,
       214,  24, 701, 118])

In [13]:
df.deposit.unique()

array(['yes', 'no'], dtype=object)

In [14]:
X = df.drop('deposit', axis=1)
y = df['deposit']
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

# Accuracy rate
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7832512315270936

In [ ]:
plt.figure(figsize=(14, 12))
plot_tree(clf, feature_names=X.columns, class_names=['no', 'yes'], filled=True, fontsize=10,
          rounded=True, precision=2, impurity=True)
plt.show()